@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --black: #000;
  --blue: #05123c;
  --sky: #0494b8;
  --orange: #ed6f4d;
  --slate: #E2E8F0;
  /* --steel: #4C698A; */
}

@layer {
  @import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
  /* font-family: "Fredoka", "serif"; */
  @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
  /* font-family: "Outfit", "serif"; */
  @import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
  /* font-family: "Onest", "serif"; */
}

* {
  scroll-behavior: smooth;
}

body {
  color: var(--blue);
  background: var(--white);
  box-sizing: border-box;
  position: relative;
  /* font-family: "Onest", "serif"; */
}

.container {
  max-width: 1312px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

.date-main input::-webkit-calendar-picker-indicator {background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20height%3D%2221%22%20viewBox%3D%220%200%2021%2021%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M7%201.75V4.375%22%20stroke%3D%22%23475569%22%20stroke-width%3D%221.5%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M14%201.75V4.375%22%20stroke%3D%22%23475569%22%20stroke-width%3D%221.5%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M3.0625%207.9541H17.9375%22%20stroke%3D%22%23475569%22%20stroke-width%3D%221.5%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M18.375%207.4375V14.875C18.375%2017.5%2017.0625%2019.25%2014%2019.25H7C3.9375%2019.25%202.625%2017.5%202.625%2014.875V7.4375C2.625%204.8125%203.9375%203.0625%207%203.0625H14C17.0625%203.0625%2018.375%204.8125%2018.375%207.4375Z%22%20stroke%3D%22%23475569%22%20stroke-width%3D%221.5%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M13.7335%2011.9873H13.7413%22%20stroke%3D%22%23475569%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M13.7335%2014.6123H13.7413%22%20stroke%3D%22%23475569%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M10.4952%2011.9875H10.5031%22%20stroke%3D%22%23475569%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M10.4952%2014.6125H10.5031%22%20stroke%3D%22%23475569%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M7.25691%2011.9873H7.26477%22%20stroke%3D%22%23475569%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M7.25691%2014.6123H7.26477%22%20stroke%3D%22%23475569%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E);}



/* Testimonials Slider */

.slider-container .slick-prev:before,
.slick-next:before { display: none; }

.slider-container .slick-track { display: flex; flex-direction: row; gap: 28px;height: auto; padding-top: 10px !important;padding-bottom: 10px !important;}
.slider-container .slick-slide  {display: flex !important; height: inherit;}
.slider-container .slick-slide > div {  height: 100%; }


.slick-slide.slick-center { @apply bg-orange rounded-[15px] -my-[10px] transition-all duration-500}
.slick-slide.slick-center .slick-inner { @apply bg-transparent rounded-none border-none scale-y-[10px] }
.slick-slide.slick-center .slick-inner .t-quote { @apply invert}
.slick-slide.slick-center .slick-inner .t-name {@apply !text-white}
.slick-slide.slick-center .slick-inner .t-role {@apply !text-white/70}
.slick-slide.slick-center .slick-inner .t-stars { filter:brightness(10) ; -webkit-filter:brightness(10) ; }
.slick-slide.slick-center .slick-inner .t-detail {@apply !text-white}

/* Banner Slider */

.rfm-marquee > *:nth-child(even) {margin-top: 90px !important;}
.rfm-initial-child-container > *:nth-child(even) {margin-top: 90px !important;}
.rfm-initial-child-container {align-items: flex-start !important;}
.rfm-marquee {align-items: flex-start !important;}


.gdt-black {background:  linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);}

@media (max-width:1199px) {
  .rfm-initial-child-container > *:nth-child(even) {margin-top: 64px !important;}
  .rfm-marquee > *:nth-child(even) {margin-top: 64px !important;}
}

@media (max-width:767px) {
  .slider-container .slick-track {gap: 14px;}
  .rfm-initial-child-container > *:nth-child(even) {margin-top: 44px !important;}
  .rfm-marquee > *:nth-child(even) {margin-top: 44px !important;}
}


@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
.animate-float {
  animation: float 2s infinite ease-in-out;
}


@keyframes rotate-effect {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}
.animate-rotate {
  animation: rotate-effect 3s infinite ease-in-out;
}

@keyframes pulse-custom {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}
.animate-pulse-custom {
  animation: pulse-custom 1.5s infinite ease-in-out;
}

@keyframes twinkle {
  0%, 100% { opacity: 0.5; transform: scale(1); }
  50% { opacity: 1; transform: scale(1.2); }
}
.animate-twinkle {
  animation: twinkle 1.5s infinite ease-in-out;
}